extends layout

block content
    h3 Bootstrap Plugins
    ul
        li
            a(href="/plugin/grid") Grid
        li
            a(href="/plugin/modal") Modal
        li
            a(href="/plugin/board") Board
        li
            a(href="/plugin/selector") Selector
        li
            a(href="/plugin/richDropDown") RichDropDown
        li
            a(href="/plugin/timeline") TimeLine
        li
            a(href="/plugin/rightfromleft") RightFromLeft
        li
            a(href="/plugin/contextmenu") ContextMenu
        li
            a(href="/plugin/form") Form
        li
            a(href="/plugin/progressBar") ProgressBar