extends ../layout
block styles
    link(href="/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css",type="text/css",rel="stylesheet")
block scripts
    script(src="/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js",type="text/javascript")
    script(src="/bootstrap/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js",type="text/javascript")
    script(src="/demo/date-demo.js",type="text/javascript")
block content
    .well
        #datepickerdemo.input-append
            input(data-format="MM/dd/yyyy HH:mm:ss PP",type="text")
            span.add-on
                i(data-time-icon="icon-time",data-date-icon="icon-calendar")