extends ../layout
block scripts
    script(src="/demo/modal-demo.js",type="text/javascript")
block content
    .btn-group
        button#btnDefault.btn.btn-primary.btn-sm 默认
        button#btnCustomButtons.btn.btn-primary.btn-sm 自定义按钮